body {
    /*height: 4000px;*/
    /*padding-top: 100px;*/
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../img/up-arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#brand {
    text-transform: uppercase;
    color: #ff9b51;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing:1px;
}
p {
    margin:0;
}
ul {
    margin:0;
    padding:0;
}
label {
    margin:0;
}
a:focus, a:hover {
    text-decoration: none;
    outline: none
}
img {
    width: 100%;
}
p{
    color: #8f9094;
    font-family: 'Open Sans', sans-serif;
}
ul{
    text-decoration: none;
    list-style: none;
}
/*    header*/

.nav-border{
    border-bottom: #ebeeee solid 2px;
}
.header{
    /*background-color: black;*/
    background-image: url(../img/banner3.jpg) ;

    -webkit-background-size: cover;   /*علشان تملى الشاشه*/
    -moz-background-size: cover;
    -o-background-size: cover;
    /*View port hight*/ 
    background-size: cover;
    position: relative;
    top: 0px;
    left:0px;
    width:100%;
    color: white;
    padding-top: 150px;
    padding-bottom: 40px;
    min-height:650px;
    /*text-transform: uppercase;*/

}
.header img{
    margin:auto;

}
.header  span{
    color:#ff9b51;

}
.header h1{
    font-size: 55px;
}
.header h4{
    background:#ff9b51;
    width:33%;
    margin:0 auto;
    padding:10px 0px;
}
@media(max-width:991px){
    .header .lead:after{
        margin: 25px auto;

    }
}

@media(max-width:991px){
    .header img{
        margin: 25px auto;

    }
}

.header .bannerDiv{
    margin-top: 50px;
}
.header .overly{
    /*padding-top: 100px;*/
    position: relative;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .09);
}
.header .lead{
    font-size: 30px ;
    font-family: 'Open Sans', sans-serif;
}
.header P{
    font-family: 'Raleway', sans-serif;
    color : white;
    font-size: 14px;

}



.header form{
    overflow: hidden;
    width: 360px;
    background-color: white;
    border-radius: 5px;

}
.header form h2{
    word-spacing: 3px;
    color :black;
    font-size: 14px;
    font-weight: Bold;
    padding: 10px;  

    margin-top: 0px;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;


    overflow: auto;
}
.header form h2 span{
    color :#ff9b51;
    font-size: 14px;
    font-weight: Bold;
    font-family: 'Open Sans', sans-serif;

}
.header form .buttonSumbit{
    width: 100%;
    color :white;
    background-color: #ff9b51;
    margin-top: 10px;
    border: none;
    padding: 15px 20px 15px 20px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

}

.bannerDiv  h4{
    margin-top: 50px;
}
.header form input{
    text-align: center;
    width:80%;
    color :white;
    border: none;
    background-color: white;
    border-bottom: .5px #f5f5f5 solid ;
    border-left: .5px #f5f5f5 dashed ;
    padding: 20px  10px 10px 10px;
    margin: 10px;
    margin-left: 10%;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;

}
/*-------------------------Mobile Screen*/ 
/*//Mobile  Screen*/
@media(max-width:991px){
    .header form{
        margin:auto;
    }
}

/*Tablet Screen*/
@media(max-width:991px){
    .text-centere-xs{
        text-align: center;
    }

}
@media(max-width:991px){
    .header .overly .svg{
        margin:auto;
    }
}

@media(max-width:991px){
    .header .overly  img{
        margin: 25px auto;
    }
}



/*Meduium screens*/ 
@media(max-width:1199px){

    .header form{
        margin:auto;
    }
}





/*End Header */

/*start Scial MEdia Section */ 
.socialMedia{
    width: 100%;
    -webkit-box-shadow:10px 10px 10px #888888;
    -moz-box-shadow:10px 10px 10px #888888;
    -o-box-shadow:10px 10px 10px #888888;
    padding: 32px;

}
/*Any screen small or XS make componet Center*/ 
@media(max-width:991px){
    .socialMedia{
        text-align: center;
    }
}
.socialMedia .leftSide p{
    line-height:30px;
    font-family: 'Open Sans', sans-serif;

}
.SocialMediaIcon{
    color: #cccccc;
    margin-top: 10px;


}
.SocialMediaIcon   i{
    padding: 10px;
    margin:10px;

    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;

}
.SocialMediaIcon   .fa-facebook-official:hover{
    color: #3b5998;

}
.SocialMediaIcon   .fa-twitter:hover{
    color: #1da1f2;
}

.SocialMediaIcon   .fa-google-plus:hover{
    color: #dd4b39;
}
.SocialMediaIcon   .fa-instagram:hover{
    color: #e1306c;
}

/*Features */

/*Features1*/
.Features1{
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px;

}
.Features1  button{
    margin:50px auto;

}

/*Any screen small or XS make componet Center*/ 
@media(max-width:991px){
    .Features1{
        text-align: center;
    }
}

.Features1  .tab-switch{
    float: left;
    margin-top:60px;
    list-style: none;
}


.Features1  .tab-switch li{
    width: 141px;
    background-color: #ff8b38;
    border:  2px solid #fff;
    vertical-align: middle;
    line-height:  50px;
    padding: 10px;
}
.Features1 .tab-switch  li.selected{

    background-color: #888888;
}
.Features1 ul li:hover{
    background-color: #888888;
}
.Features1 .thirdSectionofFeature{
    margin-top: 60px;
}


.Features1  .tab-content{
    margin-top:60px;
}

.Features1  .tab-content p{
    line-height: 1.8em;
}
@media(max-width:991px){
    .Features1  .tab-content p{
        text-align: left;
        margin-left: 220px;
    }
}

.Features1 button{
    background-color: #ff8b38;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.Features1 .tab-content div:not(.tab-one){   
    display: none;
}


/* Sub List Section */

.subListSection{
    width: 100%;
}
.subListSection h3:after{
    content: "";
    width: 137px;
    height: 2px;
    display: block;
    margin: 25px 0px;
    margin-left: 211px;
    background-color: #ff8b38;
}
.subListSection img{
    height:400px;
    width:400px;
    margin-bottom: 30px;
    margin-top: 66px;
}

@media(max-width:991px){
    .subListSection h3:after{

        margin:15px auto;

    }
}

@media(max-width:991px){
    .subListSection {
        text-align: center;
    }
}
@media(max-width:991px){
    .subListSection svg {
        margin:auto;
    }
}
/*.subListSection img{
    margin-top: 25%;
}*/
.subListSection .sublistRightSection{

    margin-top: 49px;
}


/*.fa-cloud-download{
   
}*/
.uplaod{
    margin-top:50px;
}
.uplaod  i{
    /*    margin-top:50px;*/
    /*display: inline-block;*/
    color: #ff8b38;
    width: 40px;
    height: 40px;
    /*background-color: #cccccc;*/
    border: 2px solid #ff8b38;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    float: left ;
    margin-right: 40px;
    -webkit-transition: width 3s, height 3s; /* For Safari 3.1 to 6.0 */
    transition: width 3s, height 3s;
}
.uplaod  i:hover{
    width:80px;
    height: 80px;
    /*    margin-top:50px;*/
    /*display: inline-block;*/
    color: #fff;
    /*background-color: #cccccc;*/
    border: 2px solid #fff;

}
/*.fa-cloud-upload {
    color: #ff8b38;
    float: left ;
    margin-right: 50px;
}*/


/*Process Section */ 

.process{
    width: 100%;
    background-color: #f5f5f5;
}
.processHeader{   
    text-align: center;
    margin:auto;
    margin-top:52px
}

.processHeader  svg{
    margin-top: 20px;
    margin-left: 38%;
}
.processTemplate{
    margin:80px  auto;
    margin-left: 82px;
}

.processTemplate  i{ 
    color: #ff8b38;
    width: 70px;
    height: 70px;
    /*background-color: #cccccc;*/
    border: 2px solid #ff8b38;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;


}
.processTemplate div{
    background-color: #fff;
    width:300px;
    height: 300px;
    overflow: hidden;
    padding :10px ; 
    margin: 10px;
    border: 1px #ff8b38  dashed;

    -webkit-transition:  height 3s, width 3s;/* For Safari 3.1 to 6.0 */
    transition: height 3s, width 3s;
}

/*.processTemplate div:hover{
    background-color: #cccccc;
    width:350px;
    height: 350px;
}*/

.processTemplate h3{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom:  25px;
    margin-top: 25px;
}



/* Section Pricing */

.pricing{   
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 20px;
}
f
.pricingDiv{


}
.pricingDiv .pricingHeader{
    background-color: #333;
    color: white;
}
.pricingDiv .pricingHeader li{
    border:  1px solid white;
}

.pricingDiv  .Basic ul{
    margin: 0px;
    padding: 0px;
}
.pricingDiv  .Basic ul li:first-child { 
    width: 345px;
    height: 60px;
    background-color: #333;
    color: #fff;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: Bold;
    border-bottom: 1px solid  #f5f5f5;
}
.pricingDiv  .Basic .priceNumber{
    width: 345px;
    height: 150px;
    background-color: #333;
    color: #fff;
    line-height: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 86px;
    font-weight: Bold;

}
.pricingDiv  .Basic ul li span{

    height: 50px;
    background-color: #333;
    color: #fff;
    /*    line-height: 150px;*/
    font-family: 'Open Sans', sans-serif;
    font-size:35px;
    font-weight: Bold;

}
.pricingDiv  .Basic  .specifiaction{
    width: 345px;
    border-top: 3px solid #ff8b38;
    color: #8f9094;


}

.pricingDiv  .Basic  ul li{

    background-color: #fff;


}
/*Fix Responsive problems    */
/*Centercomponent at screen of mobile and tablet*/ 

/*for text*/
@media(max-width:991px){
    .text-centere-xs{
        text-align: center;
    }

}
@media(max-width:991px){
    .header .overly .svg{
        margin-left: 35%;
    }
}

@media(max-width:991px){
    .header .overly  img{
        margin-left: 35%;
    }
}


/*Footer Section*/ 
.footer{
    background-color: #000;
    /*padding: 34px;*/
    width: 100%;
    margin: auto;
}
.footer .SocialMediaIcon{

    margin-left: 35%;

}




/*-- team --*/
.team{
    padding:50px 0px;
}
.team h3:before{
    width:20%;
}
.team h3:after{
    width:5%;
}
.agile_team_grids{
    margin:3em 0 0;
}
.team h4 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.agile_team_grid1{
    padding: 1em;
    border: 2px dashed #ff8b38;
    text-align: center;
}
.agile_team_grid_main{
    position:relative;
    overflow:hidden;
}
.agile_team_grid_main .p-mask{
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.72);
    bottom: 0%;
    position: absolute;
    padding:1em 0 .6em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: center;
}
.agile_team_grid:hover .p-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
ul.social-icons li{
    display:inline-block;
}
.icon-button {
    background-color: #D9D9D9;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    line-height: 2rem;
    margin: 0 3px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3rem;
}
.icon-button i {
    background: none;
    color: white;
    height: 3rem;
    left: 0;
    line-height: 2rem;
    position: absolute;
    top: 0;
    width: 3rem;
    z-index: 10;
}
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    position: absolute;
    top:0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.twitter span{
    background-color:#3b5998;
}
.google span{
    background-color:#55acee;
}
.v span{
    background-color:#dd4b39;
}
.pinterest span{
    background-color:#833ab4;
}
.icon-button:hover span {
    width: 3rem;
    height: 3rem;
    margin: 0;
}
ul.social-icons li .icon-button .icon-twitter{
    background:url(../img/img-sp.png) no-repeat -4px -35px;
    display: block;
}
ul.social-icons li .icon-button .icon-twitter:hover{
    background-position:-4px -74px;
}
ul.social-icons li .icon-button .icon-google{
    background:url(../img/img-sp.png) no-repeat -42px -38px;
    display: block;
}
ul.social-icons li .icon-button .icon-google:hover{
    background-position:-42px -74px;
}
ul.social-icons li .icon-button .icon-v{
    background:url(../img/img-sp.png) no-repeat -79px -36px;
    display: block;
}
ul.social-icons li .icon-button .icon-v:hover{
    background-position:-79px -71px;
}
ul.social-icons li .icon-button .pinterest{
    background:url(../img/img-sp.png) no-repeat -125px -36px;
    display: block;
}
ul.social-icons li .icon-button .pinterest:hover{
    background-position:-125px -70px;
}
/*-- team--*/